<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets\estadio-1.png" 
                class="d-block w-100" alt="..."> <!-- Ou também https://estadiobeirario.com.br/uploads/banners/NmBNNWZJsu23gofxS904GD7VXnviXE77XgoB7KEo.png -->
        </div>
        <div class="carousel-item">
            <img src="assets\estadio-2.jpg" class="d-block w-100" alt="..."> <!-- Ou também https://imgmd.net/images/v1/guia/1713790/estadio-beira-rio.jpg -->
        </div>
        <div class="carousel-item">
            <img src="assets\estadio-3.jpg" class="d-block w-100" alt="..."> <!-- Ou também https://media.licdn.com/dms/image/C561BAQEg1_Zdbka-5w/company-background_10000/0/1584108881510/estdio_beira_rio_cover?e=2147483647&v=beta&t=FEjN6kwjkC14qzBeVxbsDF1Q3tXo0HzRLeKUWi_ey5U -->
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>