<div>
  <nav class="navbar bg-danger">
      <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" href="#">
          <img src="assets\Escudo_do_Sport_Club_Internacional.svg.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
          FORMAÇÃO INTERATIVA
        </a>
      </div>
    </nav>
</div>

<div class="d-flex justify-content-center mt-5">
  <div style="position: relative; height: 900px; width: 601px;">
    <img src="assets\png-transparent-soccer-field.png" alt="">
    <button id="mostrarCardGK" style="position: absolute; top: 8%; left: 47%;" type="button" class="btn btn-danger">GK</button>
    <div id="meuCard" class="card" style="position: absolute; top: 20%; left: 30%; display: none;">
      <img src="https://digitalhub.fifa.com/transform/30a40e20-b939-4b4d-95ec-5b2935180029/Sergio-Rochet" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Melhor goleiro em atividade</p>
      </div>
    </div>
    <button style="position: absolute; top: 28%; left: 80%;" type="button" class="btn btn-danger">LD</button>
    <button style="position: absolute; top: 20%; left: 32.5%;" type="button" class="btn btn-danger">ZC</button>
    <button style="position: absolute; top: 20%; left: 62%;" type="button" class="btn btn-danger">ZC</button>
    <button style="position: absolute; top: 28%; left: 16%;" type="button" class="btn btn-danger">LE</button>
    <button style="position: absolute; top: 40%; left: 32.5%;" type="button" class="btn btn-danger">MC</button>
    <button style="position: absolute; top: 40%; left: 62%;" type="button" class="btn btn-danger">MC</button>
    <button style="position: absolute; top: 51%; left: 80%;" type="button" class="btn btn-danger">MD</button>
    <button style="position: absolute; top: 51%; left: 16%;" type="button" class="btn btn-danger">ME</button>
    <button style="position: absolute; top: 70%; left: 62%;" type="button" class="btn btn-danger">CA</button>
    <button style="position: absolute; top: 70%; left: 32.5%;" type="button" class="btn btn-danger">SA</button>
  </div>
</div>