img {
    height: 900;
    width: 600;
}

.btn {
    border-radius: 100%;
}

.navbar-text-center {
    text-align: center !important;
    width: 100%;
}

.card {
    width: 18rem;
}

#card {
    display: none;
}