<div class="d-flex justify-content-center mt-5">
  <div style="position: relative; height: 900px; width: 601px;">
    <img src="assets\png-transparent-soccer-field.png" alt="">
    <button style="position: absolute; top: 8%; left: 47%;" type="button" class="btn btn-danger">GK</button>
    <button style="position: absolute; top: 28%; left: 80%;" type="button" class="btn btn-danger">LD</button>
    <button style="position: absolute; top: 20%; left: 32.5%;" type="button" class="btn btn-danger">ZC</button>
    <button style="position: absolute; top: 20%; left: 62%;" type="button" class="btn btn-danger">ZC</button>
    <button style="position: absolute; top: 28%; left: 16%;" type="button" class="btn btn-danger">LE</button>
    <button style="position: absolute; top: 40%; left: 32.5%;" type="button" class="btn btn-danger">MC</button>
    <button style="position: absolute; top: 40%; left: 62%;" type="button" class="btn btn-danger">MC</button>
    <button style="position: absolute; top: 51%; left: 80%;" type="button" class="btn btn-danger">MD</button>
    <button style="position: absolute; top: 51%; left: 16%;" type="button" class="btn btn-danger">ME</button>
    <button style="position: absolute; top: 70%; left: 62%;" type="button" class="btn btn-danger">CA</button>
    <button style="position: absolute; top: 70%; left: 32.5%;" type="button" class="btn btn-danger">SA</button>
  </div>
</div>